# Ignore an entire folder
data/processed/01_basic_cleaned.csv
data/raw/
data/processed/feature_reduced.csv
data/processed/feature_reduced_2.csv
data/processed/feature_reduced_3.csv
data/processed/processed_4.csv